<launch>

    <!-- This node will launch frame conversion from vision pose (tf) to mavros pose -->
    <param name="target_frame_id"   value="/camera_odom_frame" />
    <param name="source_frame_id"   value="/camera_link" />
    <param name="output_rate"       value="30" />

    <!-- Rotate world frame around z axis: 
    0           - yaw 90
    -1.5707963  - yaw 0 -->
    <param name="gamma_world"       value="-1.5707963" />
    
    <!-- Examples to align camera_link to body frame:
    Frontfacing (X forward, Z upward):   r = 0, p = 0, y = 1.5707963 (M_PI/2)-->
    <param name="roll_cam"          value="0" />
    <param name="pitch_cam"         value="0" />
    <param name="yaw_cam"           value="1.5707963" />

    <node pkg="vision_to_mavros" type="vision_to_mavros_node" name="t265_to_mavros" output="screen" >
        <remap from="vision_pose" to="/mavros/vision_pose/pose" />
    </node>
</launch>